.idea/
.DS_Store
**/.DS_Store
**/**/.DS_Store
*.iml
**/*.iml
**/**/*.iml
target
**/target/
**/**/target/
.settings/
**/.settings/
**/**/.settings/
.classpath
**/.classpath
**/**/.classpath
.project
**/.project
**/**/.project
.swagger-codegen
**/.swagger-codegen
**/**/.swagger-codegen
_*